.main-content {
}

.content-row {
  padding: 150px 32px;
}

.box-wrapper {
  float: left;
  width: 25%;
  height: 295px;
  padding: 30px;
}

.left-long-box {
  background-color:  #d2d2d2;
  width: 25%;
  height: 590px;
  float: left;
  text-align: center;

    .left-head-title-one {
      margin-top: 271px;
      color: #ffffff;
      line-height: 27px;
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 700;
    }

    .left-head-title-two {
      margin-top: 10px;
      font-family: Georgia, serif;
      font-size: 18px;
      font-style: italic;
      color: #ffffff;
    }

  }

.box-two {
  background-color: #bbbbbb;

  .box-left-line {
    width: 22px;
    height: 1px;
    margin-top: 65px;
    margin-left: 63px;
    background-color: #ffffff;
    float: left;
  }

  .box-right-line {
    width: 22px;
    height: 1px;
    margin-top: 65px;
    background-color: #ffffff;
    float: left;
  }

  .social-twitter {
    float: left;
    width: 50px;
    text-align: center;
    margin-top: 43px;
    #sp-twitter {
      font-size: 35px;
      color: #ffffff;
    }
  }

  .box-twitter-text-wrapper {
    float: left;
    text-align: center;
    color: #ffffff;
    font-family: Georgia, serif;
    font-size: 14px;
    font-style: italic;
    line-height: 19px;
    .box-twitter-parag{
      margin-top: 16px;
    }
    .id-info {
      color: #ffffff;
      font-family: Lato, serif;
      font-size: 14px;
      font-weight: 700;
      line-height: 19px;
      margin: 0;
    }
  }
}

  .box-three {
    background: #dbdbdb;
  }

  .box-four {
    background-color: #606060;
    text-align: center;
    padding: 0;
    
    .arrow {
      margin-top: 108px;
      width: 27px;
      height: 13px;
    }

    .box-four-text-one {
      color: #ffffff;
      line-height: 27px;
      text-transform: uppercase;
      font-family: Georgia, serif;
      font-size: 24px;
      font-weight: 700;
      margin-top: 15px;
    }

    .box-four-tex-two {
      color: #ffffff;
      font-family: Georgia, serif;
      text-transform: uppercase;
      font-size: 18px;
      font-style: italic;
      margin-top: 15px;
    }
  }

  .box-five {
    background-color: #cacaca;
  }

  .box-six {
    background-color: #bbbbbb;
  }
  .box-ten {
    background-color: #d0d0d0;
  }

  .box-seven {
    background-color: #c2c2c2;
  }

  .box-eight {
    background-color: #c2c2c2;

  }

  .box-nine {
    background-color: #606060;
  }

  .right-long-box {
    float: right;
    width: 25%;
    height: 590px;
    background-color: #d7d7d7;

    .right-section-title {
      height: 295px;
      background: #606060;

      .right-head-title {
        margin: 0;
      }
    }

    .right-under-box-wrapper {
      height: 590px;
      background: #d7d7d7;

      .right-icon-header {
        margin: 0;
      }
    }
  }


