.main-content {
  padding-bottom: 560px;
  height: 100%;
}

.content-row {
  padding: 150px 32px;
}
//repeat text
.box-same-text-one {
  margin: 0;
  color: #ffffff;
  line-height: 27px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
}

.box-same-text-two {
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: italic;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
}
//END

.box-wrapper {
  float: left;
  width: 25%;
  height: 295px;
  padding: 30px;
}

.left-long-box {
  background-color:  #d2d2d2;
  width: 25%;
  height: 590px;
  float: left;
  text-align: center;

    .box-same-text-one {
      margin-top: 261px;
    }

    .box-same-text-two {
      margin-top: 10px;
    }

  }

.box-two {
  background-color: #bbbbbb;

  .box-left-line {
    width: 22px;
    height: 1px;
    margin-top: 56px;
    margin-left: 63px;
    background-color: #ffffff;
    float: left;
  }

  .box-right-line {
    width: 22px;
    height: 1px;
    margin-top: 56px;
    background-color: #ffffff;
    float: left;
  }

  .social-twitter {
    float: left;
    width: 50px;
    text-align: center;
    margin-top: 33px;
    #sp-twitter {
      font-size: 35px;
      color: #ffffff;
    }
  }

  .box-twitter-text-wrapper {
    float: left;
    text-align: center;
    color: #ffffff;
    font-family: Georgia, serif;
    font-size: 14px;
    font-style: italic;
    line-height: 19px;
    .box-twitter-parag{
      margin-top: 6px;
    }
    .id-info {
      color: #ffffff;
      font-family: Lato, serif;
      font-size: 14px;
      font-weight: 700;
      line-height: 19px;
      margin: 0;
    }
  }
}

.box-three {
    background: #dbdbdb;
  }

.box-four {
    background-color: #606060;
    text-align: center;
    padding: 0;
    
    .arrow {
      margin-top: 108px;
      width: 27px;
      height: 13px;
    }

    .box-same-text-one {
      margin-top: 15px;
    }

    .box-same-text-two {
      margin-top: 10px;
    }
  }

.box-five {
    background-color: #cacaca;
    text-align: center;
    padding: 0;

    .box-same-text-one {
      margin-top: 128px;
    }

    .box-same-text-two {
      margin-top: 6px;
    }
  }

.box-six {
    background-color: #bbbbbb;
    text-align: center;

    .box-left-line {
      width: 22px;
      height: 1px;
      margin-top: 56px;
      margin-left: 63px;
      background-color: #ffffff;
      float: left;
    }

    .box-right-line {
      width: 22px;
      height: 1px;
      margin-top: 56px;
      background-color: #ffffff;
      float: left;
    }

    .social-twitter {
      float: left;
      width: 50px;
      text-align: center;
      margin-top: 33px;
      #sd-twitter {
        font-size: 35px;
        color: #ffffff;
      }
    }

    .box-twitter-text-wrapper {
      float: left;
      text-align: center;
      color: #ffffff;
      font-family: Georgia, serif;
      font-size: 14px;
      font-style: italic;
      line-height: 19px;
      .box-twitter-parag{
        margin-top: 6px;
      }
      .id-info {
        color: #ffffff;
        font-family: Lato, serif;
        font-size: 14px;
        font-weight: 700;
        line-height: 19px;
        margin: 0;
      }
    }
  }

.right-long-box {
  float: right;
  text-align: center;
  width: 25%;
  height: 590px;
  background-color: #d7d7d7;

  .box-same-text-one {
    margin-top: 259px;
  }

  .box-same-text-two {
    margin-top: 10px;
  }


}

.box-eight {
    background-color: #c2c2c2;

  }

.box-nine {
  background-color: #606060;
  text-align: center;
  padding: 0;

  .arrow {
    margin-top: 108px;
    width: 27px;
    height: 13px;
  }

  .box-same-text-one {
     margin-top: 15px;
   }
  .box-same-text-two {
    margin-top: 10px;
  }
}

.box-ten {
  background-color: #d0d0d0;
  padding: 0;
  text-align: center;

  .box-same-text-one {
    margin-top: 128px;
  }

  .box-same-text-two {
    margin-top: 15px;
  }
}


