// Footer block style

.main-footer { // Footer fixed to bottom
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: var('footer-height', 'xsmall');
  
  @media (min-width: $small-screen) {
    .main-footer {
      min-height: var('footer-height', 'small');
    }
  }
  
  @media (min-width: $medium-screen) {
    .main-footer {
      min-height: var('footer-height', 'medium');
    }
  }
  
  @media (min-width: $large-screen) {
    .main-footer {
      min-height: var('footer-height', 'large');
    }
  }
  
  @media (min-width: $xlarge-screen) {
    .main-footer {
      min-height: var('footer-height', 'xlarge');
    }
  }
}

.main-footer {
  float: left;
}

.searcher-row {
  padding: 0 30px;
  text-align: center;
  clear: both;
}

.footer-text-one {
  color: #303030;
  font-family: Georgia, serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
}

.footer-text-two {
  color: #606060;
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: italic;
  line-height: 35px;
  padding-bottom: 44px;
}

.input-wrap {

  input {
    width: 475px;
    height: 36px;
    border: 1px solid #959595;
    padding: 5px;
    float: left;
    margin-left: 20%;
  }

  .input-add {
    width: 85px;
    height: 48px;
    border: 1px solid #e67429;
    background-color: #f68236;
    float: left;
    margin: 0;
  }

}

.footer-slider {
  padding-bottom: 100px;
}

.slider {
  padding-top: 162px;
  .slider-box {
    border: 1px solid #959595;
    float: left;
    background-color:  #bbbbbb;
    width: 16.6%;
    height: 118px;
  }
  
  .left-slider-arrow {
    width: 49px;
    height: 118px;
    background-color: #ffffff;
    opacity: 0.6;
    float: left;
  }

  .right-slider-arrow {
    width: 49px;
    height: 118px;
    background-color: #ffffff;
    opacity: 0.6;
    float: right;
  }
}


.ending-box {
  width: 25%;
  height: 178px;
  border-right: 1px solid #d2d2d2;
  float: left;
  margin-top: 40px;
  margin-bottom: 40px;
}

.ending-box-text {
  color: #303030;
  font-family: Lato, serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
  padding: 0;
  margin-top: 5px;
}

.ending-list {
  text-align: left;
  //padding-bottom: 50px;
  padding-left: 0;
  padding-top: 0;


  li {
    color: #303030;
    font-family: Lato, serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
  }
}

.ending-box-border {
  width: 25%;
  height: 178px;
  float: left;
  margin-top: 40px;

  .ending-social-text {
    color: #303030;
    font-family: Lato, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    padding: 15px;
    padding-top: 0;
    margin: 0;
  }

  .social-icons {
    text-align: center;
    margin: 0;
    padding-left: 5px;

    .social-icon {
      float: left;
      margin-left: 10px;
      padding: 4px;
      font-size: 18px;
      width: 32px;
      height: 32px;
      border: 1px solid #606060;

      .fa {
        color: #606060;
      }
    }
  }
}

.padding {
  padding-left: 15px;
}















