.nav-wrap {
  //background-color: #353434;
  .head-wrapper {
    background: #fff;
    .logo-wrapper {
      float: left;
      padding: 19px;
      padding-right: 0;
      margin: 0;
      .logo-wrap {
        background: #000;
        width: 40px;
        height: 40px;
        text-align: center;
        padding: 5px;
      }
      h1 {
        color: #fff;
        font-size: 13px;

      }
    }

    .nav-list {
      padding: 25px;
      margin: 0;
      text-align: center;
      color: #303030;
      font-size: 16px;
      line-height: 28px;
      a {
        margin-left: 23px;
      }
    }
  }
}
.nav-list {
  @extend %clearfix;
}

.social-list {
  background: #303030;
  padding: 5px 25px;
  .social-item {
    margin-left: 25px;
  }
}

.main-header {
  height: 100vh;

}
.head-border {
  margin-left: 3px;
  border: 1px solid #e6e6e6;
  width: 98.9%;
}

.header-background {
  background: red;

  .background-wrap {
    background: #fff;

    .background-text-one {
      height: 100%;
      margin: 0;
      padding-top: 146px;
      text-align: center;
      color: #303030;
      background: #fff;
      font-size: 72px;
      font-weight: 400;
      text-transform: uppercase;
    }
    .background-text-two {
      padding-top: 34px;
      padding-bottom: 67px;
      margin: 0;
      text-align: center;
      color: #606060;
      font-size: 24px;
      font-style: italic;
      line-height: 35px;
    }

    .rectangle-button {
      margin: 0 auto;
      padding: 6px;
      text-align: center;
      width: 229px;
      height: 60px;
      border: 1px solid #959595;
      
      .rectangele-text {
        margin: 0;
        color: #303030;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 43px;
        text-transform: uppercase;
      }
    }

  }
}

@media (min-width: 768px) {
  .social-list {
    float: right;
  }

  .logo, 
  .nav-list-wrap,
  .nav-item {
    float: left;
  }

}

