.nav-wrap {
  background-color: #353434;

  .logo {
    color: #fff;
    font-size: 20px;
    padding: 25px;
    margin: 0;
  }

  .nav-list {
    padding: 25px;
    margin: 0;
    text-align: center;
    color: #fff;
    font-size: 16px;
    line-height: 28px;
    a {
      margin-left: 23px;
    }
  }
}

.nav-list {
  @extend %clearfix;
}

.social-list {
  padding: 5px 25px;
  .social-item {
    margin-left: 25px;
  }
}

.main-header {
  height: 100vh;

}

.header-background {
  //background-image: url(../img/backgroundDuck.png);
  background: red;
}

@media (min-width: 768px) {
  .social-list {
    float: right;
  }

  .logo, 
  .nav-list-wrap,
  .nav-item {
    float: left;
  }

}

